.carousel-container {
 
  display: flex;
  justify-content: center;
  max-height: 400px;
   max-width: 800px;
   overflow: hidden;


  margin: 5px;
  border: 1px solid #ccc;
}
.carousel-container img {
  margin: 10px;
  width: 97%;
  height: 100%;
}
.carousel-container:hover{
  border: 1px solid #777;
  opacity: 0.9;
  transform: scale(1.01);
}


.prev-button, .next-button {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  border-radius: 50%;
  background-color:rgb(198, 198, 248);
  height: 50px;
  font-weight: 600;
}
.prev-button {
  margin-right: 10px;
}
.next-button {
  margin-left: 10px;
}