.carousel-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.carousel-container img {
  width: 100%;
}
.prev-button, .next-button {
  padding: 10px;
  font-size: 20px;
  background-color: rgba(12, 98, 127, 0.977);
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.prev-button {
  margin-right: 10px;
}
.next-button {
  margin-left: 10px;
}