@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
 
}
.marks-View-Student{
    display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
}
.marks-Search-Student{
  border: 2px solid white;
  padding: 40px;
}

