.dashboard-open:hover{
    background-color:lightblue;
}
.dashboard-open{
    width: 2%;
}
.dashboard-text{
    z-index: 1;
    left: 0;
    overflow: hidden;
    transition: 0.5s;
}

.dashoboard-main-header{
    position: relative;
    z-index: 1030;
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.42857143;
    background-color: #3c8dbc;
    display: flow-root;
}
.no-data{
    text-align: center;
    font-size: 17px;
    color: red;
    margin-top: 20px;
    
}

.dashboard-main-panel{
    display: flex;
    transition: margin-right .5s;
    flex-direction: row-reverse;
    height: 92vh;
    
}
.navbar-before{
    width: 15%;
    border: 1px solid lightgray;
    height: 92vh;
    padding-bottom: 10px;
    white-space: nowrap;
    flex: 0 0 200px;
    position: absolute;
    z-index: 1;
    left: 0;
    overflow: hidden;
    transition: 0.5s;

}

.navbar-after{
    width: 0;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    height: 92vh;
    padding-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    position: fixed;
    z-index: 1;
    left: 0;
    overflow: hidden;
    transition: 0.5s;
}

.dashoboard-main-header .operator-hide{
    float: right;
    padding-right: 30px;
}
.dashoboard-main-header .operator-hide img{
    height:40px;
    width:40px;
    margin-top:5px;
}
.dashoboard-main-header .operator-hide img:hover{
    border-radius: 50%;
    border: 2px solid lightgray;
    
}
.dashoboard-main-header .logo-lg {
    display: block;
    -o-transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    display: block;
    float: left;
    height: 50px;
    font-size: 18px;
    line-height: 50px;
    text-align: center;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 300;
    color: white;
    margin-right: 20px;
}

.dashoboard-main-header .navbar-custom-menu{
    float: right;
    margin-top: 50px;
  
}
.dashoboard-main-header .navbar-custom-menu ul{
    right: 0;
    left: auto;
    position: absolute;
}

.dashoboard-main-header .navbar-custom-menu li.user-header {
    height: 225px;
    padding: 10px;
    text-align: center;
    background-color: #3c8dbc;
}
.dashoboard-main-header .navbar-custom-menu img.img-header {
    text-align: center;
    height: 90px;
    width: 90px;
    border: 3px solid; 
    border-color: rgba(255,255,255,0.2);
    border-radius: 50%;
    vertical-align: middle;
    margin-top: 30px;
}
.dashoboard-main-header .navbar-custom-menu p.text-logout  {
    color: #fff;
    color: rgba(255,255,255,0.8);
    font-size: 17px;
    margin-top: 10px;
}
.dashoboard-main-header .navbar-custom-menu li.user-footer {
    background-color: #f9f9f9;
    margin: 10px;
    float: right;
}

.dashoboard-main-header .navbar-custom-menu li.user-footer button:hover{
    background-color:lightgray;
}
.dashoboard-main-header .navbar-custom-menu .dropdown-menu{
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    padding: 1px 0 0 0;
    border-top-width: 0;
    width: 250px;
}

.dashboard-btn-scss
{
    background-color: #00a65a;
    border-color: #008d4c;
    color: white;
}
.dashboard-btn-scss:hover{
    background-color: green;
}

.dashboard-btn{
    Display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border-radius: 4px;
    box-shadow: none;
    border: 1px solid transparent;

}


.excel-btn{
    margin-bottom:10px ;
    float: right;
   
}
.btn-warning{
    background-color: #f39c12;
    border-color: #e08e0b;
    
    /* background-color: rgb(19, 103, 131); */
    color: white;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    /* background: repeating-linear-gradient(45deg, orange, transparent 100px); */
   
    
}
.btn-warning:hover{
    background-color:rgb(233, 187, 127);
    /* background-color: rgb(13, 81, 103); */
    /* background-color: rgb(127, 207, 234); */
}

.clear-gradient{

    /* background: repeating-linear-gradient(45deg, red, transparent 100px)!important; */
    background-color: rgb(148, 182, 13);
   
    
}

.margin-vendor-adjust{
    margin-top: -50px!important;
}

.user-profile-export{

    margin-top: -40px!important;
    /* margin-left: -120px!important; */
    float: left!important;
}
.dashboard-btn-default
{
    color: #666666;
    border-color: #ddd;
    background-color: #f4f4f4;
}

.dashboard-top-heading{
    display: flex;
    text-align: center;
    margin-bottom: 20px!important;
    color: black;
    height: 35px;
    text-align: center;
    line-height: 2;
    font-family: monospace;
    
}

.dashboard-main-right{
    background-color: white;
    transition: 0.5s;
    height: 92vh;
    overflow: scroll;
}
.dasdhboard-main-40{
    height: 35%;
    background-color: white;
    
}
.dashboard-main-60{
    height: 75%;
    background-color: white;
    padding: 15px;
    font-size: 15px;
}


.dashbrd-40-colm{
    position: relative; 
    margin: 20px;
    background-color: white;
    
}
.dashbrd-40-colm div{
    width: 33.33%;
    display: inline-block;
    padding-top: 10px;
    padding-right: 15px;
    padding-left: 15px;
    min-height: 1px;
    position: relative; 
}
.special-25-div{
    
}
.marks-window{
    display: block;
    text-align: center;
    background-color: lightgray;
    padding: 10px;
}

.read-only{
    background: lightyellow!important;
    font-weight: 600!important;
}

.special-25-div div{
    width: 25%!important;
}
.dashbrd-40-colm label{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}
.dashbrd-40-colm span{
    text-align: center;
    display: block;
    padding: 10px;
}

.dashbrd-40-colm input,.dashbrd-40-colm select{
    border-radius: 4px;
    box-shadow: none;
    border-color: #d2d6de;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
   
}
 .dashbrd-40-colm input[type=checkbox]{
    height: 23px;
    
    color: #555;
    background-color: #fff;
    line-height: 1.42857143;
    background-image: none;
    border: 1px solid #ccc;
    margin-top: 10px;
    margin-left: 0px;
} 
.dashbrd-40-colm p{
    padding: 15px;
    color: red;
    font-weight: 500;
    
}
.customize-centre{
    text-align: center;
    background-color: antiquewhite;
}


 .dashbrd-40-colm .div-25{
    /* top: 20px;
    min-height: 1px;
    padding-top: 15px; */
    top: -20px;
    display: inline-flex;
} 

.dashbrd-40-colm .division
{
    margin-top: 40px;
    margin-bottom: 20px;  
    border-top: 2px solid whitesmoke;
}
.dashbrd-40-colm .division-2
{
    margin-top: 20px;
    margin-bottom: 20px;
    size: 1;
    border: white;
    
}



.dashboard-main-60 .table-60{
    min-height: .01%;
    overflow-x: auto;
    padding: 10px;
    border: 1px;
    border: 1px solid #eaeaea;
    width: 100%;
    max-width: 100%;
    margin-bottom: 15px;
    border-spacing: 0;
    border-collapse: collapse;
    font-size: 15px;
}



.dashboard-main-60 .table-60 thead{
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

.dashboard-main-60 .table-60 tr{
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
    text-align: center;
}
.dashboard-main-60 table>thead:first-child>tr:first-child>th{
    border-top: 0;
    border: 1px solid #eaeaea;

    
}
.dashboard-main-60 th{
    background: #00c7a3;
    color: #fff;
}

.dashboard-main-60 table>thead>tr>th{
    vertical-align: bottom;
    padding: 6px;
    line-height: 1.42857143;
}

.dashboard-main-60 table>tbody>tr>td, .dashboard-main-60 table>tbody>tr>td>input
{
    border: 1px solid #eaeaea;
    padding: 6px;
    line-height: 1.42857143;
    vertical-align: middle;
}

.dashboard-main-60 table>tbody>tr:hover{
    background-color: whitesmoke;
}
.dashboard-main-60 table>tbody>tr:hover{
    background-color: whitesmoke;
}


