.dashoboard-main-header{
    position: relative;
    max-height: 100px;
    z-index: 1030;
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.42857143;
    background-color: #3c8dbc;
    display: flow-root;
}
.dashoboard-main-header .operator-hide{
    float: right;
    padding-right: 30px;
}
.dashoboard-main-header .operator-hide img{
    height:40px;
    width:40px;
    margin-top:5px;
}
.dashoboard-main-header .logo-lg {
    display: block;
    -o-transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    display: block;
    float: left;
    height: 50px;
    font-size: 18px;
    line-height: 50px;
    text-align: center;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 300;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
}


.dashoboard-main-header .navbar-custom-menu{
    float: right;
    margin-top: 50px;
  
}
.dashoboard-main-header .navbar-custom-menu ul{
    right: 0;
    left: auto;
    position: absolute;
}

.dashoboard-main-header .navbar-custom-menu li.user-header {
    height: 225px;
    padding: 10px;
    text-align: center;
    background-color: #3c8dbc;
}
.dashoboard-main-header .navbar-custom-menu img.img-header {
    text-align: center;
    height: 90px;
    width: 90px;
    border: 3px solid; 
    border-color: rgba(255,255,255,0.2);
    border-radius: 50%;
    vertical-align: middle;
    margin-top: 30px;
}
.dashoboard-main-header .navbar-custom-menu p.text-logout  {
    color: #fff;
    color: rgba(255,255,255,0.8);
    font-size: 17px;
    margin-top: 10px;
}
.dashoboard-main-header .navbar-custom-menu li.user-footer {
    background-color: #f9f9f9;
    margin: 10px;
    float: right;
}

.dashoboard-main-header .navbar-custom-menu li.user-footer button:hover{
    background-color:lightgray;
}
.dashoboard-main-header .navbar-custom-menu .dropdown-menu{
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    padding: 1px 0 0 0;
    border-top-width: 0;
    width: 250px;
}

.navbar-before{
    width: 20%;
}

.navbar-after{
    width: 0%;
}

.dashboard-btn{
    Display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;

}

.dashboard-btn-default
{
    color: #666666;
    border-color: #ddd;
    background-color: #f4f4f4;
}