.dashobard-sidebar{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    height: 92vh;
    padding-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
}
.sidebar-main-header{
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
    transition: all .5s ease-in-out;
    display: grid;
}

.dashobard-sidebar > span{
    position: relative;
    margin: 0;
    padding: 0;
}

.user{
    font-size: 15px;
    font-weight: 600;
    border: none;
    background-color: inherit;
    outline: none;
    cursor: pointer;
    margin: 8px 5px 8px 10px;
    display: flex;
}
.user p{
    float: right;
    padding-right: 10px;
}


.Items{
    display: flex!important;
    align-items: center;
    cursor: pointer;
    color: #777;
    background-color: whitesmoke;
    padding: 5px 0px 5px 20px;
    display: block;
    font-size: 14px;
    font-weight: 400;
    
}

.Items:hover{
    color:black;
    background-color: blanchedalmond;
    font-weight: 700;
    
}