.dashobard-sidebar{
    
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
}

.sidebar-main-header{
   
    transition: 0.5s;
    
}

.dashobard-sidebar > span{
    position: relative;
    margin: 0;
    padding: 0;
}

.user{
    font-size: 20px;
    margin-bottom: 20px;
    border: none;
    background-color: inherit;
    outline: none;
    cursor: pointer;
    border: 1px solid black;
}
.Items{
    display: flex;
    align-items: center;
   cursor: pointer;
   border-bottom: 1px solid black;
}