.banner-container {
    background-color: rgba(0, 0, 0, 0.6);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 60vh;
    height: 90vh;
    display: flex;
    justify-content: center;
    background-blend-mode: overlay;
    align-items: center;
    
}

.alhilal-header_color-css
{
    background-color: rgba(47,47,162, 0.9);
}

.alhilal-footer_color-css
{
    background-color: rgba(237,245,225, 0.9);
    color: black;
}