.banner-container {
    background-color: rgba(0, 0, 0, 0.6);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 60vh;
    height: 90vh;
    display: flex;
    justify-content: center;
    background-blend-mode: overlay;
    align-items: center;
    
}

.alhilal-header_color-css
{
    background-color: ivory;
    color: #061574;
    font-size: 11px;
    font-weight: 700;
}

.alhilal-footer_color-css
{
   
    color: black;
}
.vision-mision-main
{
    padding: 50px 200px 50px 200px;
    
}
.vision{
   padding: 30px;
   background-color: whitesmoke;
}
.mission{
    margin-top: 50px;
    padding: 30px;
    background-color: whitesmoke;
}

.founder-image-desc{

    text-align: center;
    font-family: none;
    font-size: 14px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 10px;
    
}
.founder-img-div{
    margin-left: 45px;
    padding-top: 45px;
    padding: 30px 5px 0px 5px;
  
    
}

.gallery-main{
    margin: 2% 20% 5% 20%;
    background-color: whitesmoke;
    padding: 40px;
    border: 1px solid #777;
    text-align: center;
    font-weight: 600;
}

.gallery-line{
    font-family: fantasy;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 4%;
    font-size: 1.675rem;
    line-height: 2.25rem;
    font-size: 700;
    gap: 20px;
}
@media only screen and (max-width: 600px) {
    .gallery-main{
      padding: 20px;
      
    }
  }
  
.gallery-line img {
    text-align: center;
}

.gallery-line p{
        padding-bottom: 10px;
}    

.about-us-introduction{
    
    display: flex;
    padding: 30px;
    background-color: ghostwhite;
    font-style: italic;

}        

.about-us-introduction img
{
    padding-right: 30px;
    
}

.about-us-main{

    padding: 50px 150px 50px 150px;
    font-size: 14px;
}

.about-us-objectives{
    
    margin-top: 30px;
    padding: 30px 30px 30px 50px;
    background-color: whitesmoke;
    font-family: sans-serif;
    font-size: 13px;
}
.logo{
    display: flex;
    gap: 5px;
}
.logoC{
    font-size: 23px;
}

.noticeboard-main{
    height: 70vh;
    display: block;
}

.noticeboard-main-header{
    display: block;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    color: red;
    /* font-stretch: expanded; */
    border-bottom: 2px solid black;
    font-family: cursive;
    padding-bottom: 10px;
    font-weight: 700px;
}



.noticeboard{
    background-color: ivory;
    padding: 20px;
    width: 25%;
    margin-right:-72%;
    height: 80vh;
    opacity: 0.80;
    font-size: 15px;
    box-shadow: 0 8px 22px 0 rgba(0,0,0,0.4);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
.noticeboard-main li{
    float: left;
    width: -webkit-fill-available;
     margin-bottom: 10px; 
    background-color:  lavender; 
    padding: 5px;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.4);

}

.noticeboard-main a{
    /* line-height: 10px;  */
    color: black;
    font-size: 15px;
    font-weight: 450;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; 
    transform: translateY(-100%); 
    /* font-family: serif; */
    padding-left: 5px;
    
    
}

.noticeboard a:hover{
    animation-play-state:paused;
}

.noticeboard  a .linecolor{
    color: rgb(3, 17, 107); 
}




.contct-google-img{
    padding: 15px 0px 0px 0px;
    margin-bottom: 30px;

}

.direction-span{
    color:red;
    padding-left:5px;
    font-Size:16px;
    margin-Top:40px;
    font-weight: 500;
}

.direction-paragraph{
    padding: 5px;
    font-size: 14px;
    font-weight: 400;
    margin-right: 25%;

}

.new-img-notice{
    margin-top: 13px;
    height: 15px;
    width: 30px;
    padding-right: 5px;
}
.li-notice{
    
}
.login-conatiner{
    display: inline-block;
}
.dashboard-btn-home{
    background: burlywood;
    color: white;
}



    @keyframes cssmarquee {
    0% {
    transform: translateY(-100%);
    }
    100% {
    transform: translateY(100%);
    }
    }

    @media only screen and (max-width: 768px) {
        /* For mobile phones: */
        .responsive-header-1 {
                font-style: italic;
                width: 100%;
                font-size: large;
                font-family: system-ui;
            }
        
            .alhilal-header_color-css {
                display: block;
                padding: 2%;
            }
        
            .responsive-header-image {
                margin-left: 5%;
                height: 30%;
                width: 25%;
                margin-top: 2%;
            }
        
            .responsive {
                display: none !important;
            }
        
            .login-conatiner {
                display: block;
            }
        
            .dashboard-btn-home {
                background: cadetblue;
                color: beige;
                margin: 5px;
                border: none;
                outline: none;    
                border-radius: 50px;
                box-shadow: 0 3px 20px 0 #0000003b;
            }
        
            .banner-container {
                min-height: 30vh;
                height: 50vh;
            }
        
        
            .noticeboard {
                height: 60vh;
                width: 95%;
                background-color: lightgoldenrodyellow;
                box-shadow: none;
                margin: 2%;

                
              
               
              
               
                opacity: 0.80;
                font-size: 15px;
                box-shadow: 0 8px 22px 0 rgba(0,0,0,0.4);
                display: flex;
                flex-direction: column;
                box-sizing: border-box;
                font-family: 'Poppins', sans-serif;
        
            }
            .noticeboard-main{
                height: 50vh;
            }
    
    }
