header {
    width: 100%;
    position: relative;
    display: flex;
    align-items: left;
    justify-content:left;
  }
  
  
  .navdropbutton {
    background: #000;
    box-shadow: 0px 10px 30px 0px rgba(82, 63, 105, 0.05);
    color: #fff;
    padding: 12px 25px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown-menu ul {
    list-style: none;
    padding: unset;
    margin: unset;
    position: absolute;
  }
  
  .dropdown-menu ul li {
    padding: 14px;
    transition: all linear 0.3s;
    position: relative;
   
  }
  
  .dropdown-menu ul li:hover {
    background: gray;
    cursor: pointer;
    color: #fff;
  }
  
  .dropdown-menu {
    background: #fff;
    box-shadow: 0px 10px 30px 0px rgba(82, 63, 105, 0.05);
    transition: all linear 0.3s;
  }
  
