header {
    width: 100%;
    position: relative;
    display: flex;
    align-items: left;
    justify-content:left;
  }
  
  
  .navdropbutton {
    /* background: #01285e; */
    /* background: rgb(6, 69, 108); */
    box-shadow: 0px 10px 30px 0px rgba(82, 63, 105, 0.05);
    color: white;
    padding: 12px 12px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    width: 150px;
    /* background-image: linear-gradient( 140deg, #01285e 90%, white 100%); */
    margin: 2px 10px 1px 3px;
  }
  

  
  .dropdown-menu ul {
    list-style: none;
    padding: unset;
    margin: unset;
    position: absolute;
    background-color: aliceblue;
    width: 150px;
  }
  
  .dropdown-menu ul li {
    padding: 11px;
    transition: all linear 0.3s;
    position: relative;
    font-size: 13px;
    font-weight: 500;
   
  }
  
  .dropdown-menu ul li:hover {
    background:#01285e;
    /* background: linear-gradient( 310deg, rgb(119, 6, 21) 20%, #0705306b 100%); */
    cursor: pointer;
    color: white;
    opacity: 0.9;

  }
  
  .dropdown-menu {
    background: #fff;
    box-shadow: 0px 10px 30px 0px rgba(82, 63, 105, 0.05);
    transition: all linear 0.3s;
    position: relative;
    z-index: 100;
    margin-top: 5px;
  }
  .nav1{
    color: black;
    background-image: linear-gradient( 140deg, rgba(196, 229, 64, 0.9) 85%, white 100%);
    border: none;
    outline: none;
    
    box-shadow: 0 3px 20px 0 #0000003b;
    
  }
  .nav1:hover{
    color: black;
    background-image: linear-gradient( 140deg, rgba(196, 229, 64, 0.6) 85%, white 100%);
    border: none;
    outline: none;
    
    box-shadow: 0 3px 20px 0 #0000003b;
    
  }
  .nav2{
    background-image: linear-gradient( 140deg, rgb(28, 101, 164,0.9) 85%, white 100%);
    color: white;
    border: none;
    outline: none;
    
    box-shadow: 0 3px 20px 0 #0000003b;
  }
  .nav2:hover{
    background-image: linear-gradient( 140deg, rgb(28, 101, 164,0.6) 85%, white 100%);
    color: white;
    border: none;
    outline: none;
    
    box-shadow: 0 3px 20px 0 #0000003b;
  }
  .nav3
  {
    background-image: linear-gradient( 140deg, rgb(145, 15, 110,0.9) 85%, white 100%);
    color: white;
    border: none;
    outline: none;
    
    box-shadow: 0 3px 20px 0 #0000003b;
    
  }
  .nav3:hover
  {
    background-image: linear-gradient( 140deg, rgb(145, 15, 110,0.6) 85%, white 100%);
    color: white;
    border: none;
    outline: none;
    
    box-shadow: 0 3px 20px 0 #0000003b;
    
  }
  
  @media only screen and (max-width: 768px) {

    .navdropbutton {
      /* background: #01285e; */
      box-shadow: 0px 10px 30px 0px rgba(82, 63, 105, 0.05);
     
      padding: 10px 10px;
      border: none;
      cursor: pointer;
      font-size: 13px;
      font-weight: 500;
      width: 110px;
      margin: 0px 5px 5px 5px;
      /* background-image: linear-gradient( 140deg, #01285e 90%, white 100%); */
      
      
    }
    .dropdown-menu ul {
      
      width: 120px;
      z-index: 1;
    }
    .dropdown-menu ul li {
      padding: 8px;
      transition: all linear 0.3s;
      position: relative;
      font-size: 13px;
      font-weight: 500;
      
     
    }

  }
