header {
    width: 100%;
    position: relative;
    display: flex;
    align-items: left;
    justify-content:left;
  }
  
  
  .navdropbutton {
    background: #01285e;
    box-shadow: 0px 10px 30px 0px rgba(82, 63, 105, 0.05);
    color: white;
    padding: 12px 12px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    width: 150px;
  }
  
  .dropdown-menu ul {
    list-style: none;
    padding: unset;
    margin: unset;
    position: absolute;
    background-color: aliceblue;
    width: 150px;
  }
  
  .dropdown-menu ul li {
    padding: 11px;
    transition: all linear 0.3s;
    position: relative;
    font-size: 13px;
    font-weight: 500;
   
  }
  
  .dropdown-menu ul li:hover {
    background: #4c8be4;
    cursor: pointer;
    color: #fff;
  }
  
  .dropdown-menu {
    background: #fff;
    box-shadow: 0px 10px 30px 0px rgba(82, 63, 105, 0.05);
    transition: all linear 0.3s;
  }
  @media only screen and (max-width: 768px) {

    .navdropbutton {
      background: #01285e;
      box-shadow: 0px 10px 30px 0px rgba(82, 63, 105, 0.05);
      color: white;
      padding: 10px 10px;
      border: none;
      cursor: pointer;
      font-size: 13px;
      font-weight: 500;
      width: 100px;
    }
    .dropdown-menu ul {
      
      width: 100px;
    }
    .dropdown-menu ul li {
      padding: 8px;
      transition: all linear 0.3s;
      position: relative;
      font-size: 13px;
      font-weight: 500;
     
    }

  }
