.contain{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.login{
    box-shadow: 0 8px 22px 0 rgba(0,0,0,0.4);
    /* border: 1px solid black; */
    border-radius:10px;
    background-color: white;
}
.nameLogo{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}

.username-container{
    position: relative;
    margin-bottom: 15px;
}

.input-login-username{
 
    outline: none;
    color: black; 
    font-weight: 600;
    padding-right: 42.5px;
    border: none;
    border-bottom: #999 1px solid;
    padding-left: 0;
    transition: ease 0.5s;
    display: block;
    
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    background-color: aliceblue;
  
}

.input-login-username
    :not(select){
        appearance: none;
    }

.Align{
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-logo
{
    font-size: 35px;
    text-align: center;
    font-weight: 300;
    margin-bottom: 0;
    padding: 30px;
    
}

.nameLogo{
    background: #fff;
    border-top: 0;
    color: #666;
}

.login-logo-msg1 {
    color: #00a551 !important;
    font-weight: bold;
    font-size: 18px;
}

.login-logo-msg2{
   
    margin: 0;
    text-align: center;
    display: block;
    font-size: 12px;
    font-weight: bold;
    margin-block-start: 1em;
    margin-block-end: 3em;
    margin-inline-start: 0px;
    margin-inline-end: 0px; 
}


.login-box-body{
    width: 360px;
    margin: 7% auto 4%;
    border-radius: 10px;
   
    border-top: 0;
    color: #666;
    background-color: rgb(242, 236, 234);
}